.addJobs{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.hero{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#hr{
    background-color: #e3e3e3;
    margin-bottom: 120px;
    padding-top: 110px;
    padding-bottom: 110px;
}
#hh3{
    font-weight: 600;
    font-size: 2.2rem;
}
#crumbs{
    display: flex;
    gap: 1rem;
}
.blink{
    text-decoration: none;
    color: black;
}
#t1{
    font-weight: 700;
    font-size: 2rem;
}
.t2{
    font-size: 14px;
}
#b1{
    margin-bottom: 1.5rem;
}
.b2{
    font-weight: 700;

    margin-bottom: 1.5rem;
}
#imgBox{
    background-color: transparent;
    border: 2px solid #e4ecf2;


    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding: 17px 40px;
    text-align: center;
    cursor: pointer;

}
.smallT{
    font-size: 0.885rem;
    color: #cc313d;
    margin-top: 10px;
}
#row22{
    margin-bottom: 1rem;
}
.googleMap {
    margin-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}






@media (max-width: 980px) {
    #row2{
        margin-bottom: 1rem;
    }
     #row22{
    margin-bottom: 1rem;
    }
}
@media (max-width: 580px) {
   #imgBox{
    width: 70%;
   }
   #t1{
    font-size: 1.4rem;
   }

}